[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "*"
faiss-cpu = "*"
ipywidgets = "*"
jsonlines = "*"
jupyter = "*"
jupyterlab = "*"
matplotlib = "*"
numpy = "*"
opencv-python = "*"
pgvector = "*"
python-dotenv = "*"
rich = "*"

[dev-packages]

[requires]
python_version = "3.10"
